body {
    background-color: rgba(12, 74, 110, 1);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#telainicio {
    background-color: green;
    border: solid 5px;
}
#time1{
    position: relative;
    left: -155px;
    top: -476px;
}
#count-el{
    font-size: 164px;
    position: absolute;
    left: 232px;
    top: 417px;
}

#increment-btn{
    position: absolute;
    left: 281px;
    top: 654px;
    font-size: 56px;
}
#menos-btn{
    position: absolute;
    left: 285px;
    top: 762px;
    font-size: 56px;
}
#menos2-btn{
    position: absolute;
    left: 775px;
    top: 762px;
    font-size: 56px;
}
#time2{
    position: relative;
    left: -155px;
    top: -535px;
}
#count-el2{
    font-size: 164px;
    position: absolute;
    left: 752px;
    top: 404px;
}
#increment-btn2{
    position: absolute;
    left: 769px;
    top: 661px;
    font-size: 56px;
}
#save-el{
    position: absolute;
    left: 445px;
    top: 662px;
    font-size: 44px;
    width: 259px;
}
#save_btn{
    position: absolute;
    left: 449px;
    top: 872px;
    width: 22%;
    font-size: 60px;
    background-color: green;
}
#divisao{
    position: relative;
    left: -591px;
    top: -290px;
}
#time1{
    position: relative;
    top: 214px;
    left: -109px;
}
#time2{
    position: relative;
    top: 214px;
    left: -109px;
}
input[type=checkbox] {
    transform: scale(2); /* aumenta o tamanho do checkbox */
}

#ul-el{
    position: absolute;
    left: 160px;
    top: 332px;
    font-size: 25px;
}
#ul-el2{
    position: absolute;
    left: 677px;
    top: 325px;
    font-size: 25px;
}

#ul-el3{
    position: absolute;
    left: 206px;
    top: 391px;
    font-size: 25px;
}

#ul-el4{
    position: absolute;
    left: 720px;
    top: 394px;
    font-size: 25px;
}
#ul-el5{
    position: absolute;
    left: 440px;
    top: 371px;
    font-size: 46px;
}