body {
    background-color: rgba(12, 74, 110, 1);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

#telainicio{
    background-color: green;
    border: solid 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
}

#deli{
    max-width: 500px;
    height: 50%;
}


h1{
    ont-size: 37px;
    text-align: center;
    position: relative;
    padding-top: 433px;
    left: 614px;
    top: -878px;
}

form{
    position: relative;
    left: -590px;
    top: -365px;
}
#response_name{
    width: 200px
}
#time1{
    position: relative;
    left: -155px;
    top: -476px;
}
#count-el{
    font-size: 63px;
    position: absolute;
    left: 637px;
    top: 202px;
}
#increment-btn{
    position: absolute;
    left: 667px;
    top: 345px;
    font-size: 16px;
}
#menos-btn{
    position: absolute;
    left: 667px;
    top: 377px;
    font-size: 16px;
}
#menos2-btn{
    position: absolute;
    left: 951px;
    top: 383px;
    font-size: 16px;
}
#time2{
    position: relative;
    left: -155px;
    top: -535px;
}
#count-el2{
    font-size: 63px;
    position: absolute;
    left: 949px;
    top: 202px;
}
#increment-btn2{
    position: absolute;
    left: 949px;
    top: 345px;
    font-size: 16px;
}
#save-el{
    position: absolute;
    left: 705px;
    top: 327px;
    font-size: 23px;
    width: 229px;
}
#save_btn{
    position: absolute;
    left: 739px;
    top: 438px;
    width: 12%;
    font-size: 29px;
    background-color: green;
}
#game{
    display: flex;
    justify-content: center;
    align-items: center;
}
#divisao{
    position: relative;
    left: -591px;
    top: -290px;
}
#time1{
    position: relative;
    top: 214px;
    left: -109px;
}
#time2{
    position: relative;
    top: 214px;
    left: -109px;
}
input[type=checkbox] {
    transform: scale(2); /* aumenta o tamanho do checkbox */
}

#ul-el{
    position: absolute;
    left: 566px;
    top: 138px;
}
#ul-el2{
position: absolute;
left: 843px;
top: 138px;
}

#ul-el3{
    position: absolute;
    left: 598px;
    top: 188px;
}

#ul-el4{
    position: absolute;
    left: 878px;
    top: 188px;
}
#ul-el5{
    position: absolute;
    left: 675px;
    top: 206px;
    font-size: 29px;
    width: 217px;
}