body {
    background-color: blue;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

h1{
    font-size: 20px;
    text-align: center;
    position: relative;
    padding-top: 433px;
    left: -5px;
    top: -414px;
}

form{
    position: relative;
    left: -590px;
    top: -365px;
}
#response_name{
    width: 200px
}
#time1{
    position: relative;
    left: -155px;
    top: -476px;
}
#count-el{
    font-size: 63px;
    position: absolute;
    left: 667px;
    top: 218px;
}
#increment-btn{
    position: absolute;
    left: 667px;
    top: 348px;
    font-size: 16px;
}
#menos-btn{
    position: absolute;
    left: 667px;
    top: 380px;
    font-size: 16px;
}
#menos2-btn{
    position: absolute;
    left: 954px;
    top: 380px;
    font-size: 16px;
}
#time2{
    position: relative;
    left: -155px;
    top: -535px;
}
#count-el2{
    font-size: 63px;
    position: absolute;
    left: 949px;
    top: 218px;
}
#increment-btn2{
    position: absolute;
    left: 949px;
    top: 348px;
    font-size: 16px;
}
#save-el{
    position: absolute;
    left: 693px;
    top: 494px;
    font-size: 23px;
}
#save_btn{
    position: absolute;
    left: 662px;
    top: 433px;
    width: 20%;
    font-size: 29px;
    background-color: green;
}
#game{
    position: absolute;
    top: -111px;
    width: 100%;
}
#divisao{
    position: relative;
    left: -591px;
    top: -290px;
}
#time1{
    position: relative;
    top: 214px;
    left: -109px;
}
#time2{
    position: relative;
    top: 214px;
    left: -109px;
}

